USE [master]
GO
/****** Object:  Database [Nexos]    Script Date: 09/12/2022 20:33:08 ******/
CREATE DATABASE [Nexos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nexos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Nexos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nexos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Nexos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nexos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nexos]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 09/12/2022 20:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[IdAuthor] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Birthday] [date] NULL,
	[City] [varchar](50) NULL,
	[Mail] [varchar](50) NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[IdAuthor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookss]    Script Date: 09/12/2022 20:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookss](
	[IdBook] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NULL,
	[Year] [date] NULL,
	[Pages] [int] NULL,
	[Author] [varchar](50) NULL,
 CONSTRAINT [PK_Bookss] PRIMARY KEY CLUSTERED 
(
	[IdBook] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Records]    Script Date: 09/12/2022 20:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Records](
	[IdRecord] [int] IDENTITY(1,1) NOT NULL,
	[IdBook] [int] NULL,
	[IdAuthor] [int] NULL,
 CONSTRAINT [PK_Records] PRIMARY KEY CLUSTERED 
(
	[IdRecord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookss]  WITH CHECK ADD  CONSTRAINT [FK_Bookss_Authors] FOREIGN KEY([IdBook])
REFERENCES [dbo].[Authors] ([IdAuthor])
GO
ALTER TABLE [dbo].[Bookss] CHECK CONSTRAINT [FK_Bookss_Authors]
GO
ALTER TABLE [dbo].[Records]  WITH CHECK ADD  CONSTRAINT [FK_Records_Authors] FOREIGN KEY([IdAuthor])
REFERENCES [dbo].[Authors] ([IdAuthor])
GO
ALTER TABLE [dbo].[Records] CHECK CONSTRAINT [FK_Records_Authors]
GO
ALTER TABLE [dbo].[Records]  WITH CHECK ADD  CONSTRAINT [FK_Records_Bookss] FOREIGN KEY([IdBook])
REFERENCES [dbo].[Bookss] ([IdBook])
GO
ALTER TABLE [dbo].[Records] CHECK CONSTRAINT [FK_Records_Bookss]
GO
USE [master]
GO
